p{
    margin: 0;
}

.all-trainees{
    border: 1px #d2d7da solid;
}

.trainee-row > div:first-child{
    padding: 0.5em;
    display: flex;
}

.trainee-row > div:first-child p{
    padding: 0 1em;
}

.trainee-row > div:first-child p:not(:first-of-type){
    border-left: 1px solid #bbb;
}

.trainee-row i{
    width: 18px;
}

.name{
    min-width: 25%;
}

.city{
    min-width: 15%;
}

#trainee-full:not(:empty){
    border: 1px dotted black;
    padding: 0 0 0.5em 2em;
}